In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [12]:
import selenium 
selenium.__version__

'4.3.0'

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [287]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time
import numpy as np
from bs4 import BeautifulSoup
import requests
start_url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
page_response = requests.get(start_url)
page_response.status_code # code 200 means connection was sucessful and it is now active
soup = BeautifulSoup(page_response.content, 'html.parser')

soup = BeautifulSoup(page_response.content, 'html.parser')
container=[]
for i in soup.find_all('tbody'):
    container.append(i.text.split("\n"))

rank=[]
for i in range(14,247,8):
    rank.append(container[1][i])

name=[]
for i in range(15,250,8):
    name.append(container[1][i].split("[")[0])

artist=[]
for i in range(16,251,8):
    artist.append(container[1][i])

views=[]
for i in range(17,251,8):
    views.append(container[1][i])

upload_date=[]
for i in range(18,254,8):
    upload_date.append(container[1][i])
zipped= list(zip(rank,name,artist,views,upload_date))

df= pd.DataFrame(zipped, columns=['Rank','Video','Artist','Views(in Billion)','Uploaded On'])
    
df.to_csv('wikipedia_youtube_video.csv')

data=pd.read_csv('wikipedia_youtube_video.csv')

data.drop('Unnamed: 0',axis=1)

,Rank,Video,Artist,Views(in Billion),Uploaded On
0,1.0,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,10.95,"June 17, 2016"
1,2.0,"""Despacito""",Luis Fonsi,7.90,"January 12, 2017"
2,3.0,"""Johny Johny Yes Papa""",LooLoo Kids,6.39,"October 8, 2016"
3,4.0,"""Shape of You""",Ed Sheeran,5.76,"January 30, 2017"
4,5.0,"""See You Again""",Wiz Khalifa,5.57,"April 6, 2015"
5,6.0,"""Bath Song""",Cocomelon – Nursery Rhymes,5.51,"May 2, 2018"
6,7.0,"""Phonics Song with Two Words""",ChuChu TV,4.72,"March 6, 2014"
7,8.0,"""Uptown Funk""",Mark Ronson,4.63,"November 19, 2014"
8,9.0,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,4.59,"February 27, 2018"
9,10.0,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.50,"January 31, 2012"
10,11.0,"""Gangnam Style""",Psy,4.48,"July 15, 2012"
11,12.0,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,4.20,"May 24, 2018"
12,13.0,"""Dame Tu Cosita""",El Chombo,3.98,"April 5, 2018"
13,14.0,"""Sugar""",Maroon 5,3.72,"January 14, 2015"
14,15.0,"""Roar""",Katy Perry,3.61,"September 5, 2013"
15,16.0,"""Counting Stars""",OneRepublic,3.61,"May 31, 2013"
16,17.0,"""Sorry""",Justin Bieber,3.56,"October 22, 2015"
17,18.0,"""Thinking Out Loud""",Ed Sheeran,3.47,"October 7, 2014"
18,19.0,"""Axel F""",Crazy Frog,3.42,"June 16, 2009"
19,20.0,"""Girls Like You""",Maroon 5,3.31,"May 31, 2018"
20,21.0,"""Faded""",Alan Walker,3.31,"December 3, 2015"
21,22.0,"""Dark Horse""",Katy Perry,3.30,"February 20, 2014"
22,23.0,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,3.29,"June 25, 2018"
23,24.0,"""Let Her Go""",Passenger,3.26,"July 25, 2012"
24,25.0,"""Bailando""",Enrique Iglesias,3.23,"April 11, 2014"
25,26.0,"""Lean On""",Major Lazer,3.23,"March 22, 2015"
26,27.0,"""Perfect""",Ed Sheeran,3.20,"November 9, 2017"
27,28.0,"""Waka Waka (This Time for Africa)""",Shakira,3.19,"June 4, 2010"
28,29.0,"""Shake It Off""",Taylor Swift,3.19,"August 18, 2014"
29,30.0,"""Mi Gente""",J Balvin,3.10,"June 29, 2017"

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [24]:
import time
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium import webdriver
from selenium.webdriver.common.by import By

driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.

driver.get('https://www.bcci.tv/.');

time.sleep(5) # Let the user actually see something!

In [25]:
wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')))

In [26]:
element.click()

In [31]:
match_titles=[]
series=[]
place=[]
date=[]
Time=[]

In [50]:
container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='fixture-card-top']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)

In [51]:
bucket=[]
Name_tag=driver.find_elements(By.XPATH,"//div[@class='fixture-card-bottom']")
for k in Name_tag:
    n=k.text.split('-')
    bucket.append(n)

In [57]:
for i in container:
    series.append(i[0])
    date.append(i[1])
    Time.append(i[2])

In [62]:
for i in bucket:
    match_titles.append(i[0])
    place.append(i[1])

In [66]:
for i in range(len(place)):
    a=place[i].split("\n")
    place[i]=a[0]

In [69]:
driver.quit()
    
zipped = list(zip(match_titles,series,place,date,Time))
    
df = pd.DataFrame(zipped, columns=['Match Number', 'Series', 'Place','Date','Time'])
        
for col in df.columns:
    df[col] = df[col].fillna('-')
    
df.to_csv('Indian_team_matches.csv')

data=pd.read_csv("Indian_team_matches.csv")
data.drop("Unnamed: 0",axis=1,inplace=True)
data

,Match Number,Series,Place,Date,Time
0,3rd ODI,INDIA TOUR OF ENGLAND ODI SERIES 2022,"Old Trafford, Manchester",17 JUL 2022,LIVE
1,1st ODI,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval, Trinidad",22 JUL 2022,7:00 PM IST
2,2nd ODI,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval, Trinidad",24 JUL 2022,7:00 PM IST
3,3rd ODI,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval, Trinidad",27 JUL 2022,7:00 PM IST
4,1st T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Brian Lara Stadium, Trinidad",29 JUL 2022,8:00 PM IST
5,2nd T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Warner Park, St Kitts",1 AUG 2022,8:00 PM IST
6,3rd T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Warner Park, St Kitts",2 AUG 2022,8:00 PM IST
7,4th T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,Central Broward Regional Park Stadium Turf Gr...,6 AUG 2022,8:00 PM IST

# 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [70]:
guru = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.

guru.get('https://www.guru99.com/');

time.sleep(5) # Let the user actually see something!

In [71]:
wait = WebDriverWait(guru, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')))

In [72]:
element.click()

In [73]:
element1 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a')))
element1.click()

In [76]:
from bs4 import BeautifulSoup
import requests
soup = BeautifulSoup(guru.page_source, 'html.parser')

In [80]:
name=[]
for i in soup.find_all('table',class_="table table-striped"):
    name.append(i.text.split("\n"))

In [93]:
Name=[] 
Description_Note=[]
for i in range(7,170,4):
    Name.append(name[0][i])

for i in range(8,170,4):
    Description_Note.append(name[0][i])

In [95]:
guru.quit()
    
zipped = list(zip(Name,Description_Note))
    
df = pd.DataFrame(zipped, columns=['Exception','Description'])
    
df.to_csv('SELENIUM_EXCEPTION.csv')

data=pd.read_csv("SELENIUM_EXCEPTION.csv")
data.drop("Unnamed: 0",axis=1,inplace=True)
data

,Exception,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [96]:
stats = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.

stats.get('https://www.statisticstimes.com/');

time.sleep(5) # Let the user actually see something!

In [102]:
# click on the drop down option   
pagination = wait.until(EC.element_to_be_clickable((By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")))
pagination.click()

# Click on the 500 profiles
option = wait.until(EC.element_to_be_clickable((By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")))
option.click()

In [103]:
wait = WebDriverWait(stats, 10)
element1 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')))
element1.click()

In [104]:
from bs4 import BeautifulSoup
import requests
soup = BeautifulSoup(stats.page_source, 'html.parser')

In [121]:
container=[]
for i in soup.find_all('tr',class_="odd"):
    container.append(i.text)

In [118]:
bucket=[]
for i in soup.find_all('tr',class_="even"):
    bucket.append(i.text)

In [137]:
Rank=[]
State=[] 
container1=[]
GSDP_19_20=[]
GSDP18_19=[]
Share=[] 
GDP=[] 
for i in range(17):
    a=container[i].split("\n")
    container1.append(a[0])
    if(i<16):
        b=bucket[i].split('\n')
        container1.append(b[0])

In [155]:
for i in range(33):
    if i<=8:
        State.append(container1[i][1:])
        Rank.append(container1[i][0:1])
    else:
        State.append(container1[i][2:])
        Rank.append(container1[i][0:2])

In [156]:
## GSDP_19_20
for i in range(17):
    a=container[i].split("\n")
    GSDP_19_20.append(a[1])
    if(i<16):
        b=bucket[i].split('\n')
        GSDP_19_20.append(b[1])

In [157]:
## GSDP18_19
for i in range(17):
    a=container[i].split("\n")
    GSDP18_19.append(a[2])
    if(i<16):
        b=bucket[i].split('\n')
        GSDP18_19.append(b[2])

In [163]:
## SHARE
for i in range(16):
    a=container[i].split("\n")
    Share.append(a[3])
    if(i<16):
        b=bucket[i].split('\n')
        Share.append(b[3])

In [164]:
## GDP
for i in range(16):
    a=container[i].split("\n")
    GDP.append(a[4])
    if(i<16):
        b=bucket[i].split('\n')
        GDP.append(b[4])

In [165]:
stats.quit()
    
zipped = list(zip(Rank,State,GSDP_19_20,GSDP18_19,Share,GDP))
    
df = pd.DataFrame(zipped, columns=['Rank','State','GSDP(18-19)','GSDP(17-18)','Share(2017)','GDP($ billion)'])
    
df.to_csv('GDP.csv')

data=pd.read_csv("GDP.csv")
data.drop("Unnamed: 0",axis=1,inplace=True)
data

,Rank,State,GSDP(18-19),GSDP(17-18),Share(2017),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,---,---,13.94%,399.921

# 5 . Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count

In [167]:
git = webdriver.Chrome(r"D:\chromedriver.exe") 

git.get('https://github.com/');

time.sleep(5)

In [180]:
wait = WebDriverWait(git, 40)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[1]/a')))
element.click()

In [181]:
element1 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[4]/main/div[1]/nav/div/a[3]')))
element1.click()

In [182]:
from bs4 import BeautifulSoup
import requests
soup = BeautifulSoup(git.page_source, 'html.parser')

In [216]:
container=[]
for i in soup.find_all('h1',class_="h3 lh-condensed"):
    container.append(i.text.split("\n"))

In [217]:
Repository_title =[]
for i in range(len(container)):
    a=container[i][6]+container[i][8]
    Repository_title.append(a)

In [218]:
container1=[]
for i in soup.find_all('p',class_="col-9 color-fg-muted my-1 pr-4"):
    container1.append(i.text.split("\n"))

In [219]:
container1[0][1]

'🦀 Small exercises to get you used to reading and writing Rust code!'

In [222]:
Repository_description=[] 
for i in range(len(container1)):
    a=container1[i][1]
    Repository_description.append(a)

In [227]:
container2=[]
for i in soup.find_all('a',class_="Link--muted d-inline-block mr-3"):
    container2.append(i.text.split("\n"))

In [231]:
Contributors_count=[]
for i in range(len(container2)):
    a=container2[i][4]
    Contributors_count.append(a)

In [232]:
container3=[]
for i in soup.find_all('span',class_="d-inline-block ml-0 mr-3"):
    container3.append(i.text.split("\n"))

In [233]:
language=[]
for i in range(len(container3)):
    a=container3[i][2]
    language.append(a)

In [237]:
git.quit()
    
zipped = list(zip(Repository_title,Repository_description,Contributors_count,language))
    
df = pd.DataFrame(zipped, columns=['Repository title','Repository description','Contributors count','Language used'])
    
df.to_csv('Git.csv')

data=pd.read_csv("Git.csv")
data.drop("Unnamed: 0",axis=1,inplace=True)
data

,Repository title,Repository description,Contributors count,Language used
0,rust-lang / rustlings,🦀 Small exercises to get you used to reading a...,"26,467",Rust
1,logto-io / logto,"🧑‍🚀 Logto helps you build the sign-in, auth, a...","4,253",TypeScript
2,codecrafters-io / build-your-own-x,Master programming by recreating your fa...,836,Jupyter Notebook
3,srush / GPU-Puzzles,Solve puzzles. Learn CUDA.,22,Python
4,ytdl-org / youtube-dl,Command-line program to download videos ...,"152,605",C
5,jart / cosmopolitan,build-once run-anywhere c library,"14,458",JavaScript
6,TheAlgorithms / JavaScript,Algorithms and Data Structures implement...,"1,650",TypeScript
7,trpc / trpc,🧙‍♀️ Move Fast and Break Nothing. End-to-end t...,51,Python
8,dair-ai / ML-YouTube-Courses,📺 A place to discover the latest machine learn...,"111,546",C++
9,fossabot / typoraCracker,A patch and keygen tools for typora.,"7,950",Python
10,shengcaishizhan / kkndme_tianya,天涯 kkndme 神贴聊房价,"7,607",Shell
11,bambulab / BambuStudio,PC Software for BambuLab's 3D printers,234,Nim
12,Moataz-Elmesmary / Data-Science-R...,Data Science Roadmap from A to Z,"20,863",JavaScript
13,freqtrade / freqtrade,"Free, open source crypto trading bot","3,662",Go
14,Anduin2017 / HowToCook,程序员在家做饭方法指南。Programmer's guide about how...,"9,083",Go
15,nim-lang / Nim,Nim is a statically typed compiled syste...,274,JavaScript
16,adiwajshing / Baileys,Lightweight full-featured WhatsApp Web +...,"7,336",Vue
17,enaqx / awesome-react,A collection of awesome things regarding...,880,JavaScript
18,fatedier / frp,A fast reverse proxy to help you expose ...,180,Rust

# 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [238]:
board = webdriver.Chrome(r"D:\chromedriver.exe") 

board.get('https://www.billboard.com/');

time.sleep(5)

In [252]:
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[3]/header/div[1]/div/div/div[1]/button')))
element.click()

In [253]:
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[3]/div[6]/div/div/div/ul/li[1]/h3/a')))
element.click()

In [255]:
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a')))
element.click()

In [263]:
tag=board.find_elements(By.XPATH,"//div[@class='o-chart-results-list-row-container']")
container=[]
for k in tag:
    p=k.text.split("\n")
    container.append(p)

In [264]:
container[0]

['1', 'As It Was', 'Harry Styles', '1', '1', '14']

In [267]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank =[]
Weeks_on_board=[]
for i in range(len(container)):
    Song_name.append(container[i][1])
    Artist_name.append(container[i][2])
    Last_week_rank.append(container[i][3])
    Peak_rank.append(container[i][4])
    Weeks_on_board.append(container[i][5])
    
    
board.quit()
    
zipped = list(zip(Song_name, Artist_name,Last_week_rank,Peak_rank,Weeks_on_board))
    
df = pd.DataFrame(zipped, columns=['Song_Name','Artist_Name','Last_Week_Rank','Peak_Rank','Weeks_on_Board'])
    
df.to_csv('top 100.csv')

data=pd.read_csv("top 100.csv")
data.drop("Unnamed: 0",axis=1,inplace=True)
data

,Song_Name,Artist_Name,Last_Week_Rank,Peak_Rank,Weeks_on_Board
0,As It Was,Harry Styles,1,1,14
1,About Damn Time,Lizzo,3,2,12
2,First Class,Jack Harlow,2,1,13
3,Running Up That Hill (A Deal With God),Kate Bush,6,4,26
4,Wait For U,Future Featuring Drake & Tems,4,1,10
...,...,...,...,...,...
95,NEW,Best Thing Since Backroads,Jake Owen,-,96
96,U-Digg,"Lil Baby, 42 Dugg & Veeze",82,52,3
97,NEW,Unstoppable,Sia,-,98
98,NEW,Rich Minion,Yeat,-,99
99,NEW,Bad Habit,Steve Lacy,-,100

## 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [272]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")
driver.get('https://www.naukri.com/')

time.sleep(5)

In [273]:
search_feild_designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_feild_designation.send_keys("Data science recruiters")

time.sleep(5)

In [275]:
search_button=driver.find_element(By.XPATH,'/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [277]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [278]:
titles_tag=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in titles_tag:
    title=i.text
    job_titles.append(title)

In [280]:
company_names_tag=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_names_tag:
    t=i.text
    company_names.append(t)

In [282]:
locations=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in locations:
    x=i.text
    locations_list.append(x)

In [285]:
experience=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in experience:
    x=i.text
    experience_list.append(x)

In [286]:
zipped = list(zip(job_titles,company_names,locations_list,experience_list))
df = pd.DataFrame(zipped, columns=['Job Role', 'Company', 'Location','Experience'])
df.to_csv('jobs.csv')

Jobs=pd.read_csv("jobs.csv")

Jobs

,Unnamed: 0,Job Role,Company,Location,Experience
0,0,Data Science / Data Engineer / Business Analys...,NETWORTH DATA PRODUCTS PRIVATE LIMITED,Bangalore/Bengaluru,0-3 Yrs
1,1,India Market Unit - Data Science Analyst - 11,Accenture,"Mumbai, New Delhi, Bangalore/Bengaluru",2-6 Yrs
2,2,Senior Analyst - Data Science - IIT/NIT/IIM/XL...,HuQuo,Gurgaon/Gurugram,2-5 Yrs
3,3,Data Science Associate,Kreate Energy,Delhi / NCR(Vaishali),2-4 Yrs
4,4,"Principal, Quantitative Analytics and Data Sci...",Gartner,Gurgaon/Gurugram,5-7 Yrs
5,5,"Product Analyst, Data Science, Engineering",Google,Bangalore/Bengaluru,2-4 Yrs
6,6,Hiring For Data Science-2 To 7Years,PwC,"Kolkata, Pune, Gurgaon/Gurugram, Chennai, Bang...",2-7 Yrs
7,7,Data Science,Virtuous Transactional Analytics,"Noida, Bangalore/Bengaluru",2-4 Yrs
8,8,"Intern, Data Science",GOGOVAN INDIA Pvt. Ltd.,remote,0-1 Yrs
9,9,Senior Data Science Analyst (From FMCG Ind.),H K Jewels,Mumbai,10-15 Yrs
10,10,Senior Analyst-Data Science,Accenture,Bangalore/Bengaluru,5-8 Yrs
11,11,Data Analyst/Data Science Lead & Consultant (3...,Sapwood Ventures Pvt. Ltd.,"Hyderabad/Secunderabad, Ahmedabad",3-8 Yrs
12,12,Data Science Analyst - 11,Accenture,Mumbai,2-6 Yrs
13,13,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",11-21 Yrs
14,14,Data Science Analytics Manager,Accenture,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4-7 Yrs
15,15,Data Science Analyst - Fresher's Can apply,THE HR BEANS,"Madurai, Chennai, Coimbatore",0-5 Yrs
16,16,Senior Vice President - Data Science Team - II...,HuQuo,Gurgaon/Gurugram,8-13 Yrs
17,17,"Senior Scientist , QbD & Data Science",Novartis Healthcare,Hyderabad/Secunderabad,7-12 Yrs
18,18,Data Science Engineer - Gurgaon - Hybrid,Ofb Tech,Gurgaon/Gurugram,2-6 Yrs
19,19,Data Science/Analysis Expert - Machine Learning,Catalyst,Bangalore/Bengaluru,2-6 Yrs

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [289]:
novel = webdriver.Chrome(r"D:\chromedriver.exe") 

novel.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare');

time.sleep(5)

In [290]:
from bs4 import BeautifulSoup
import requests
soup = BeautifulSoup(novel.page_source, 'html.parser')

In [291]:
container=[]
for i in soup.find_all('tr'):
    container.append(i.text.split("\n"))

In [293]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [303]:
for i in range(2,len(container)):
    Book_name.append(container[i][2])
    Author_name.append(container[i][3])
    Volumes_sold.append(container[i][4])
    Publisher.append(container[i][5])
    Genre.append(container[i][6])

In [307]:
novel.quit()
zipped = list(zip(Book_name,Author_name,Volumes_sold,Publisher,Genre))
df = pd.DataFrame(zipped, columns=['Book_Name','Author_Name','Volumes_Sold','Publisher','Genre'])
df.to_csv('books.csv')

data=pd.read_csv("books.csv")
data.drop("Unnamed: 0",axis=1,inplace=True)
data

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the ...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to ...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9 Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings

In [308]:
imbd = webdriver.Chrome(r"D:\chromedriver.exe") 

imbd.get('https://www.imdb.com/list/ls095964455/');

time.sleep(5)

In [309]:
from bs4 import BeautifulSoup
import requests
soup = BeautifulSoup(imbd.page_source, 'html.parser')

In [315]:
container=[]
name=[]
year=[]
#     scraping data 
for i in soup.find_all('h3',class_='lister-item-header'):
    container.append(i.text.split("\n"))
    
        
for i in range(len(container)):
    name.append(container[i][2])
    year.append(container[i][3])

In [320]:
Type=[]
for i in soup.find_all('span',class_="genre"):
    Type.append(i.text.split("\n"))
    
for i in range(len(Type)):
    Type[i]=Type[i][1]

In [322]:
run=[]
for i in soup.find_all('span',class_="runtime"):
    run.append(i.text.split("\n"))

In [337]:
rating=[]
for i in soup.find_all('span',class_="ipl-rating-star__rating"):
    rating.append(i.text)

In [347]:
ratings=[]
for i in range(0,len(rating),23):
    ratings.append(rating[i])

In [351]:
data=pd.DataFrame({'Name':name,"Run Time":run,"Genre":Type,'Year Span':year,'Ratings':ratings,})
    
data=data[0:100]
    
data.to_csv('imdb.csv')                         
data=pd.read_csv("imdb.csv")
data

,Unnamed: 0,Name,Run Time,Genre,Year Span,Ratings
0,0,Game of Thrones,['57 min'],"Action, Adventure, Drama",(2011–2019),9.2
1,1,Stranger Things,['51 min'],"Drama, Fantasy, Horror",(2016– ),8.7
2,2,The Walking Dead,['44 min'],"Drama, Horror, Thriller",(2010–2022),8.2
3,3,13 Reasons Why,['60 min'],"Drama, Mystery, Thriller",(2017–2020),7.5
4,4,The 100,['43 min'],"Drama, Mystery, Sci-Fi",(2014–2020),7.6
...,...,...,...,...,...,...
95,95,Reign,['42 min'],Drama,(2013–2017),7.4
96,96,A Series of Unfortunate Events,['50 min'],"Adventure, Comedy, Drama",(2017–2019),7.8
97,97,Criminal Minds,['42 min'],"Crime, Drama, Mystery",(2005–2020),8.1
98,98,Scream: The TV Series,['45 min'],"Comedy, Crime, Drama",(2015–2019),7.1
99,99,The Haunting of Hill House,['572 min'],"Drama, Horror, Mystery",(2018),8.6

In [352]:
imbd.quit()

# 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [355]:
dataset = webdriver.Chrome(r"D:\chromedriver.exe") 

dataset.get('https://archive.ics.uci.edu/ml/index.php');

time.sleep(5)

In [356]:
wait = WebDriverWait(dataset, 40)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/table[2]/tbody/tr/td/span/b/a')))
element.click()

In [357]:
from bs4 import BeautifulSoup
import requests
soup = BeautifulSoup(dataset.page_source, 'html.parser')

In [367]:
container=[]
#     scraping data 
for i in soup.find_all('p',class_='normal'):
    container.append(i.text)

In [379]:
Dataset_Name=[]
for i in range(8,len(container),7):
    Dataset_Name.append(container[i])
    
Data_type =[]
for i in range(9,len(container),7):
    Data_type.append(container[i])

Task=[]
for i in range(10,len(container),7):
    Task.append(container[i])


Attribute_type=[]
for i in range(11,len(container),7):
    Attribute_type.append(container[i])

No_of_instances =[]
for i in range(12,len(container),7):
    No_of_instances.append(container[i])

No_of_attribute =[]
for i in range(13,len(container),7):
    No_of_attribute.append(container[i])
    
Year=[] 
for i in range(14,len(container),7):
    Year.append(container[i])

In [380]:
container[8:15]

['Abalone',
 'Multivariate\xa0',
 'Classification\xa0',
 'Categorical, Integer, Real\xa0',
 '4177\xa0',
 '8\xa0',
 '1995\xa0']

In [392]:
Dataset_Name=Dataset_Name[0:622]

In [395]:
Data_type=Data_type[0:622]

In [400]:
data=pd.DataFrame({'Data Set':Dataset_Name,"Data Type":Data_type,"Default Task":Task,'Attribute Type':Attribute_type,'Instances':No_of_instances ,'Attributes':No_of_attribute,'Year of RElease':Year})

data.to_csv('uci.csv')                         
data=pd.read_csv("uci.csv")
data.drop("Unnamed: 0",axis=1,inplace=True)
data

,Data Set,Data Type,Default Task,Attribute Type,Instances,Attributes,Year of RElease
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021